<div class="jumbotron">
    <h1 class="display-4">PeliculasAPp</h1>
    <p class="lead">Esto es una aplicacion de pelicuas</p>
    <hr class="my-4">
    <p>Esta aplicacion es basada en la app del video de angular 7 .</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>


<div class="container">


    <br>
    <h1>Cartelera</h1>
    <hr>

    <div class="row" *ngIf="cartelera">
        <div class="col-sm-6">

            <div class="row">
                <div class="col-md-12 div-pic-1" [ngStyle]="{'background-image': 'url('+(cartelera[0] | peliculaImagen)+')'}">


                </div>
            </div>

            <div class="row">

                <div class="col-sm-6 div-pic-2" [ngStyle]="{'background-image': 'url('+(cartelera[1] | peliculaImagen)+')'}">


                </div>
                <div class="col-sm-6 div-pic-2" [ngStyle]="{'background-image': 'url('+(cartelera[2] | peliculaImagen)+')'}">


                </div>
            </div>

        </div>



        <div class="col-sm-6">



            <div class="row">



                <div class="col-sm-6 div-pic-2" [ngStyle]="{'background-image': 'url('+(cartelera[3] | peliculaImagen)+')'}">


                </div>
                <div class="col-sm-6 div-pic-2" [ngStyle]="{'background-image': 'url('+(cartelera[4] | peliculaImagen)+')'}">


                </div>
            </div>
            <div class="row">
                <div class="col-md-12 div-pic-1" [ngStyle]="{'background-image': 'url('+(cartelera[5] | peliculaImagen)+')'}">


                </div>
            </div>



        </div>


    </div>

</div>