<div class="jumbotron">
    <h1 class="display-4">PeliculasAPp</h1>
    <p class="lead">Esto es una aplicacion de pelicuas</p>
    <hr class="my-4">
    <p>Esta aplicacion es basada en la app del video de angular 7 .</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
adas


<div class="container">


    <br>

    <app-galeria [peliculas]="cartelera" titulo="peliculas"></app-galeria>
    <br>
    <br>
    <app-galeria [peliculas]="populares" titulo="Populare"></app-galeria>

</div>